.container {
    /*    background-color: #9bf4d5;*/
    width: 100%;
    margin-top: 4%;
    margin-bottom: 4%;
}


/*
.row {
    background-color: #c0f8e5;
}*/


/*
.nav-wrapper {
    background-color: #424242;
}*/